body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.color{
    color: #f06cf0;
}
.color1{
    color: #e610de;
}
.bar{  padding: 1% 7%;
       text-align: center;  
       background-color: #eecfe4;        
}
.bar a{
    margin-right: 2%;
    text-decoration: none;
    font-size: 1.2rem;
}
section{
    height: 80%;
    padding-bottom:30%;
}
.food{
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
    background-position: left;}

.half-width {
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
   
}
.half-width img{
    width: 100%;
    margin-top: 5%;
}
.diet{
    background-image: url(download\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(pink,violet) ;
    padding: 10px 40px;
    color: red;
    font-weight: 300;
    border-radius: 2px;
   }
 .down{
       background-image: url(images/shapes/Frame\ 59.jpg);
      background-repeat: no-repeat;
}
 .card{
        width: 25%;
        float: left;
        margin-left: 5%;
        padding-left: 1%;
}
.box-design{
    box-shadow: 10px 10px 50px palevioletred;
    border-radius: 5%;
    height: 80%;
}
.card img{
   width: 100%;
   margin-left: 10%;
   padding-left: 10%;
   margin-top: 5%;
   border-radius: 10%;
}
.h1{
    text-align: center;
    font-size: bold;
}
.header{
    text-align: center;
}
.card h3{
    text-align: center;
}

